.footer {
    @include adaptive-value("padding-top", 56, 40, 1);
    @include adaptive-value("padding-bottom", 56, 40, 1);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(99.51deg, #4A00FF 2.92%, #00E0FF 76.71%);
    }

    &_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    &_title {
        color: #FF6B00;
        text-align: center;
    }

    &_nav {
        &-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 16px;
            padding: 0;
        }

        &-item{
            padding: 10px 0;
        }

        &-link {
            color: $neutral-600;
            font-size: 18px;
            transition: $animation-speed;

            &:hover {
                color: $white;
                transition: $animation-speed;
            }
        }

        .divider {
            @include adaptive-value("width", 8, 4, 1);
            @include adaptive-value("height", 8, 4, 1);
            background: #9266FF;
            border-radius: 50%;
        }
    }
}