<header id="header" class="header">
    <div class="container">
        <div class="header_content">
            <a href="/" class="header_logo">
                <img src="/images/logo.png" alt="Loop" class="header_logo-img" width="156"
                    height="73">
            </a>
            <div class="header_buttons">
                <a href="#" target="_blank" class="header_button header_button-join button button-secondary">
                    <span class="header_button-text">Download App</span>
                </a>
                <a href="#" target="_blank" class="header_link">
                    <img src="./images/google-store-badge.png" alt="image not found" width="150"
                        height="48">
                </a>
                <a href="#" target="_blank" class="header_link">
                    <img src="./images/app-store-badge.png" alt="image not found" width="150"
                        height="48">
                </a>
            </div>
        </div>
    </div>
</header>