// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$white: #F0F0F0;
$gray: #ccc;

$black: #0B0B0F;
$black-400: #3C3C3F;
$black-500: #0B0B0F;
$black-900: #020203;

$purple-500: #4A00FF;
$purple-600: #DBCCFF;
$purple-700: #2C0099;
$purple-800: #1E0066;

$neutral-500: #B4B4B4;
$neutral-600: #909090;

$base-font-sans-serif: 'Inter Tight',
'Arial',
'Helvetica Neue',
'Helvetica',
sans-serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $black !default;
$base-background-color: $black !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $black;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 78px;
$h2-font-size: 52px;
$h3-font-size: 24px;
$h4-font-size: 22px;
$h5-font-size: 17px;
$h6-font-size: 15px;

$headings-font-family: $base-font-sans-serif;
$headings-color: inherit !default;


$animation-speed: all .3s ease 0s;